@import url('https://fonts.googleapis.com/css?family=poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}
p {
    font-weight: 300;
    color: #111;
}
.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(images/capa.jpg);
    background-size: cover;
}
.banner .content {
    max-width: 900px;
    text-align: center;
}
.banner .content h2 {
    font-size: 5em;
    color: rgb(255, 255, 255);

}
.banner .content p {
    font-size: 3em;
    color: rgb(22, 54, 108);
    /* font-weight: bold; */
    text-shadow: #555 0.1em 0.1em 0.2em
}
.btn {
    font-size: 1em;
    color: #fff;
    background: #193a94d7;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}
.btn:hover {
    letter-spacing: 6px;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000050;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: 0.5s;
}
header.sticky {
    background: #fff;
    padding: 10px 100px; 
    box-shadow: 0 px 20px rgba(0,0,0,0,05); 
}

.logo{
    width: 50%;
}

#texoSobrenos{

text-align:justify;

}



header .logo {
    color: #fff;
    font-weight: 700;
    font-size: 0.5em;
    text-decoration: none;
    width: 50px;
}
header.sticky .logo {
    color: #111;
    width: 50%;
    
}
header .logo span {
    color: #193a94d7;
}
header .navigation {
    position: relative;
    display: flex;
   
    /* right: -90em;
    top: -3em; */

}
header .navigation li {
    list-style: none;
    margin-left: 30px;
}
header .navigation li a {
    text-decoration: none;
    color: rgb(2, 17, 85);
    font-weight: 900;
    text-shadow: #666 0.05em 0.05em 0.1em
}
header.sticky .navigation li a {
    color: #111;
    
    
   
}
header .navigation li a:hover {
    color: #0430aad7;
}
section {
    padding: 100px;
}
.row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.row .col50 {
    position: relative;
    width: 48%;
}

.linha{
    display:block; 
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
    width:80%; 
    height:1px; background-color:#ddd;
}

.titleText {
    color: #111;
    font-size: 2em;
    font-weight: 300;
}
.titleText span {
    color: #193a94d7;
    font-weight: 700;
    font-size: 1.5em; 
}
.row .col50 .imgBx {
    position: relative;
    width: 100%;
    min-height: 300px;
}
.row .col50 .imgBx img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu .content {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;
}
.menu .content {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;
}
.menu .content .box {
    width: 320px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.5);
}


.menu .content .box .imgBx1 {
    position: relative;
    width: 100%;
    height: 300px;
}
.menu .content .box .imgBx1 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.menu .content .box .imgBx {
    position: relative;
    width: 100%;
    height: 300px;
}
.menu .content .box .imgBx img {
    position: absolute;
    top: -13%;
    left: -5%;
    width: 108%;
    height: 125%;
    object-fit: cover;
}
.menu .content .box .text {
    padding: 15px 0 5px;
}
.menu .content .box .text h3 {
    font-weight: 400;
    color: #111;
}
.expert .content {
    /* display: flex; */
    /* justify-content: center; */
    flex-wrap:wrap;
    flex-direction:row;
    margin-top: 3.125;
}
.expert .content .box {
    width: 15rem;
    margin: 0.625rem;
}
.expert .content .box .imgBx {
    position:relative;
    height: 5rem;
    width: 13.75rem;
}
.expert .content .box .imgBx img {
    /* position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; */
    align-items:center;
    padding-right: 0.438rem;
}
/* .expert .content .box .text {
    padding: 15px 0 5px;
} */
/* .expert .content .box .text h3 {
    font-weight: 400;
    color: #111;
} */
.toHire {
    background: url(images/bg2.jpg);
    background-size: 100% 62.5rem;
    background-repeat: no-repeat;
    padding: 11.25rem;
}
.white .titleText,
.white p {
    color: #fff;
}
.toHire .content {
    display: flex;
    justify-content: center;
    flex-wrap:nowrap;
    flex-direction:row-reverse;
    margin-top: 5rem;
}
.toHire .content .box {
    /* width: 90px;
    margin: 50px;
    padding: 90px; */
    /* background: rgb(201, 193, 193); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 15.625rem;
    border-inline:initial;
    border-color:#193a94d7;
    border-radius: 2%;
    border-width: 0.5rem;

    }
.toHire .content .box .imgBx {
    position: relative;
    width: 6.25rem;
    height: 3.75rem;
    margin-bottom: 0.063rem;
    border: none;
    overflow: hidden;
}
/* .toHire .content .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
.toHire .content .box .text {
    text-align: center;
}
.toHire .content .box .text p {
    color: rgb(255, 255, 255);
    font-style: italic;
    
}
.toHire .content .box .text h3 {
    margin-top: 0.938rem;
    color: #111;
    font-size: 1em;
    color: #ffffffd7;
    background-color: #0b3989;
    width: 7.5rem;
    margin-left: 3.75rem;
    font-weight: 1.875rem;
}

.testimonials {
    margin-top: 180px;
    
    background: url(images/teamwork-g1e492dcb1_1920.jpg);
    background-size: cover;
}
.white .titleText,
.white p {
    color: #fff;
}
.testimonials .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}
.testimonials .content .box {
    width: 280px;
    margin: 20px;
    padding: 40px;
    background: rgb(201, 193, 193);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.testimonials .content .box .imgBx {
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
}
.testimonials .content .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.testimonials .content .box .text {
    text-align: center;
}
.testimonials .content .box .text p {
    color: #666;
    font-style: italic;
}
.testimonials .content .box .text h3 {
    margin-top: 20px;
    color: #111;
    font-size: 1em;
    color: #941919d7;
    font-weight: 600;
}
.contact {
    background: url(images/bg3.jpg);
    background-size: cover;
}
.contactForm {
    padding: 75px 50px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0,0,0,0.1);
    max-width: 500px;
    margin-top: 50px;
}
.contactForm h3 {
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}
.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}
.contactForm .inputBox input[type="submit"] {
    font-size: 1em;
    color: #fff;
    background: #193a94d7;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    max-width: 100px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}
.copyrightText {
    padding: 8px 40px;
    border-top: 1px solid rgba(0,0,0,0.1);
    text-align: center;
}
.copyrightText p {
    color: #333;
}
.copyrightText a {
    color: #193a94d7;
    font-weight: 500;
    text-decoration: none;
}

.footer {
    color:#ffff;
    justify-content: left;
    font-weight: 900;
    padding-bottom: -10px;
    
}

.links-listas{
    color:#ffff;
    justify-content: left;
    list-style-type: none;
}

.container{
    justify-content: space-around;
    justify-content: space-between;
    justify-content: space-evenly;
    justify-content: flex-start;
    justify-content: start;
}

.redesSociais{
    padding-top: 1em;
    align-items: center;
    justify-content: center;
    display: flex;
   
       
    }


#bgFooter{
    background-color: #16336c;
    background-position: center;
    padding: 1%;
    
}

.Need {
    /* background: url(/images/bg3.jpg); */
    background: linear-gradient(35deg, #00326f 10%, #0077ef 35%, #00326f 100%);
  
}

.titleNeed {
       
    color: #f1f1f1;
    text-align: center;

}

.textNeed{
    color: #f1f1f1;
    text-align: center;
}

.bottoneed{

    display: flex;
    justify-content: center;
    gap:30px;
    flex-wrap: wrap;
}

@media (max-width: 991px)
{
    header,
    header.sticky 
    {
        padding: 10px 20px;
    }
    header .navigation
    {
        display: none;
    }
    header .navigation.active {
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }
    header .navigation li {
        margin-left: 0;
    }
    header .navigation li a {
        color: #111;
        font-size: 1.6em;
    }
    .menuToggle {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(images/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .menuToggle.active {
        background: url(images/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
    header.sticky .menuToggle {
        filter: invert(1);
    }
    section {
        padding: 20px;
    }
    .banner .content h2 {
        font-size: 3em;
        color: #fff;
    }
    .row {
        flex-direction: column;
    }
    .row .col50 {
        position: relative;
        width: 100%;
    }
    .row .col50 .imgBx {
        height: 300px;
        margin-top: 30px;
    }
    .menu .content {
        margin-top: 20px;
    }
    .menu .content .box {
        margin: 10px;
    }
    .menu .content .box .imgBx {
        height:  100px;
    }
    .title {
        text-align: center;
    }
    .titleText {
        font-size: 1.em;
        line-height: 1.5em;
        margin-bottom: 15px;
        font-weight: 300;
    }
    .testimonials .content .box {
        margin: 10px;
        padding: 20px;
    }

    .toHire .content .box {
        font-size: 1.em;
        line-height: 1.5em;
        margin-bottom: 15px;
              

    }


    .contactForm {
        padding: 35px 40px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}
@media (max-width: 480px) {
    .banner .content h2 {
        font-size: 2.2em;
        color: #fff;
    }
}




